
.container {
  display: flex;
  justify-content: center;
  gap: 6vw;
  vertical-align: middle;
  margin: 3% 10%;
  padding-right: 2vw;
  &.beige{
    background-color: #f5f5f5;
  }
  &.green{
    background-color: #e7f2e8;
  }
}

.text {
  width: 100%;
  vertical-align: middle;
  align-content: center;
  font-size: clamp(10px, 3vw, 18px);
}

.text h3 {
  font-weight: 700;
  font-size: clamp(20px, 3vw, 28px);
  margin: 0;
  font-family: 'Merriweather', serif;
}


.image {
  width: 380px;
  height: 270px;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 0;
  }
  
  .image {
    width: 100%;
    height: auto;
  }

  .text {
  text-align: center;
  width: 80%
}
}