@import url(//fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap);

.parallax {
  background-image: url(/home_images/beaker_home.jpg);
  min-height: 700px;

  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  position: relative; /* ensure absolutely positioned children are positioned relative to this container */
}

.home_title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* center horizontally & vertically */
  width: 60%;
  text-align: center;
  color: #ffffff;
  padding: 1rem;
  text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

.home_title h1 {
  font-size: clamp(30px, 4vw, 50px);
}

.home_title * {
  font-family: Merriweather, serif;
}