@import url(//fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap);
@import url(//fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap);

p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(15px, 2vw, 20px);
}

b{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: clamp(15px, 2vw, 20px);
}


* {
  font-family: Merriweather, serif;
  max-width: 100%;
  box-sizing: border-box;
  /* border: solid red; */
}

body {
  margin: 0;
  padding: 0;
  background-color: #E8F4FA;
}

#sponsor-hamburger {
  float: right;
  padding: 0vw 1.8vw;
  border-radius: 1vw;
  margin: 0.6vh;
}

.hamburger {
  color: #000;
}

.hamburger-portion {
  display: none;
}

.hide-wide {
  display: none;
}

.container {
  width: 100%;
}

.content-container {
  background-color:#ffffff;
  width: 80%;
  margin-top: 5%;
  margin: 0%;
  padding: 2.5% 10%;
}

.content-container h2 {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
}



/* - footer ------------------------------------------------------------------  */

.footer * {
  font-family: Merriweather, serif;
}

.footer {
  background-color: #E8F4FA;
  padding: 3vw 2vw;
  text-align: center;
  font-family: Merriweather, serif;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-logo-img {
  width: 15vw;
}

.footer-links {
  display: flex;
  gap: 5vw;
  text-align: left;
}

.footer-links h3 {
  font-size: clamp(12px, 2vw, 20px);
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.footer-links a {
  text-decoration: none;
  display: block;
  color: black;
  font-size: clamp(12px, 2vw, 20px);
  text-align: center;
  padding: 0px 20px;
  transition: all 0.2s ease-in-out;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-newsletter * {
  font-family: Merriweather, serif;
}

.footer-newsletter {
  text-align: left;
}

.footer-newsletter h3 {
  font-size: clamp(12px,1.8vw, 20px);
  font-weight: bold;
  margin-bottom: 10px;
}

.newsletter-box {
  display: flex;
  align-items: center;
  background: #4d4d4d;
  padding: 5px 10px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out, all 0.2s ease-in-out;
  box-shadow: 0px 0px 10px 2px inset rgba(0,0,0,0.3);
}

.newsletter-box input {
  border: none;
  background: transparent;
  color: white;
  padding: 10px;
  flex-grow: 1;
  outline: none;
}

.newsletter-box:hover {
  background-color: rgba(0,0,0,0.7);
}

.newsletter-box button {
  background: black;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
}

.footer-copy {
  margin-top: 20px;
  font-size: 14px;
  font-style: italic;
}

/* -------------------------------------------------------------------------  */

.join-us-container {
  align-items: center;
  justify-content: center;
  margin: 1vh;
}

.join-us {
  display: flex;
  flex-direction: row;
  padding: 2.5%;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.join-us h2 {
  font-size: clamp(36px, 4vw, 35px);
  font-weight: 500;
  margin: 1% 2%;
}

.join-button {
  background-color: #000033;
  border-radius: 2vw;
  padding: 2vw 2vw;
  height: fit-content;
  display: inline-block;
  transition: all 0.2s;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
}

.join-button:hover {
  transform: scale(1.02);
}

.join-us a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

/*---------------------------------------------------------------------------*/

.header {
  width: 70%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
}

.header h1 {
  font-weight: 600;
  font-size: clamp(30px, 4vw, 50px);
}

.header p {
  font-weight: 400;
  font-size: clamp(18px, 3vw, 30px);
}

.subteams {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4vh
}

.subteams h2 {
  font-size: clamp(30px, 4vw, 35px);
    font-weight: 800;
}

.subteam-container {
  display: flex;
  justify-content: space-between;
  gap: 6vw;
}

.subteam-text {
  width: 60%;
  margin: auto;
  vertical-align: middle;
}

.subteam-text h3 {
  font-weight: 700;
  font-size: clamp(18px, 3vw, 30px);
  margin: 0;
}


.subteam-image-container {
  margin: auto;
  width: 40%;
  vertical-align: middle;
}

.subteam-image {
  vertical-align: middle;
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 4 / 3;
  align-items: center;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}

/* - projects ---------------------------------------------------------- */

.projects {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  background-color: white;
  padding: 2vw;
  margin: 2vw;
  border-radius: 1vw;
  box-shadow: 0px 0px 1vw 0.5vw inset rgba(0,0,0,0.1);
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 4vw;
  border-radius: 1vw;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  transition: all 0.2s;
}
.project-inner {
  display: flex;
  flex-direction: row;
  padding: 1vh 1vw;
}
.project-text {
  flex: 1;
  padding: clamp(14px, 2vw, 18px);
  width: 100%;
  text-align: left;
}
.project-headings {
  width: 100%;
  margin-bottom: 2vh;
}
.project-title {
  font-size: clamp(28px, 5vw, 52px);
  margin: 0;
}
.project-image {
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  margin: 0vw 2vw 0vw 0vw;
  width: 30%;
  align-self: center;
  max-height: max-content;
  background: black;
  border-radius: 10px;
}
.project-date {
  float: right;
  font-style: italic;
  font-size: clamp(18px, 3.2vw, 24px);
}
.project-team {
  font-size: clamp(18px, 3.2vw, 24px);
  font-weight: bold;
}
.project-desc {
  font-size: clamp(14px, 2.8vw, 18px);
  padding: 1vh 1vw;
}

/* filter ------------------------------------------------------------- */

.filter-container {
  display: flex;
  vertical-align: middle;
  gap: 1vw;
  height: fit-content;
}

.filter-btn {
  all: unset;
  background-color: white;
  padding: 1vh 2vw;
  border-radius: 1vw;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  transition: all 0.2s;
  font-size: clamp(12px, 2vw, 20px);
}

.filter-btn.active {
  background-color: rgba(0,0,0,0.2)
}

.filter-btn:hover {
  background-color:rgba(0,0,0,0.4);
}

/* sponsorship --------------------------------------------------------- */

.sponsorship-section h2 {
  margin-top: -1vh;
  font-weight: 500;
  font-size: clamp(28px, 4vw, 48px);
  text-align: center;
}

.sponsorship-section {
  margin-top: 5%;
  margin: 0%;
  padding-left: 10%;
  padding-right: 10%;
}

.sponsor-package-info {
  display: flex;
  flex-direction: column-reverse;
  gap: 2vw;
  background-color: white;
  border-radius: 10px;
  padding: 2vw 4vw;
  margin: 2vw;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}

.sponsor-package-text {
  width: 100%;
  margin: auto;
}

.sponsor-package-text h2 {
  text-align: left;
  margin: 0;
}

.sponsor-package-image-link {
  align-self: center;
  width: 70%;
  margin: 2vw;
  border-radius: 1vw;
}

.sponsor-package-image {
  border-radius: 1vw;
  vertical-align: auto;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
  margin: auto;
  transition: all 0.2s ease-in-out;
}

.sponsor-package-image:hover {
  transform: scale(1.04);
  box-shadow: none;
}

.our-sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
}

.our-sponsors h2 {
  font-size: clamp(28px, 4vw, 48px);
  font-weight: 600;
  text-align: center;
  margin-bottom: 1vw;
}

.sponsor-tier-heading {
  font-size: clamp(18px, 2.8vw, 32px);
  font-weight: 500;
  margin-bottom: 2vw;
  text-align: center;
}

.tiered-sponsors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2vw;
  width: 100%;
  max-width: 1000px;
  padding: 0 2vw;
  justify-items: center;
}

.tiered-sponsor-image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tiered-sponsor-image-link {
  width: 100%;
  height: auto;
  max-width: 250px;
  transition: all 0.2s ease-in-out;
}

.tiered-sponsor-image {
  width: 25vw;
  height: auto;
  border-radius: 0.5vw;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
}

.tiered-sponsor-image-link:hover {
  transform: scale(1.04);
  box-shadow: none;
}

.tiered-sponsor-image:hover {
  transform: scale(1.04);
  box-shadow: none;
}

.tiered-sponsor-image-box p {
  margin-top: 1vw;
  font-size: clamp(15px, 2vw, 20px);
  text-align: center;
}

/* FAQ -------------------------------------------------------------- */
.faq-container {
  width: 100%;
}

.faq-item {
  background-color: white;
  border-radius: 10px;
  padding: 2vw 4vw;
  margin: 2vw;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}

.faq-item h3 {
  font-weight: 600;
  font-size: clamp(18px, 3vw, 30px);
}


/* recruitment -------------------------------------------------------------- */
.recruitment-container {
  width: 70%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
}

.recruitment-container span{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: clamp(15px, 2vw, 20px);
  color: #1a1a90;
}


.recruitment-logos {
  max-width: 3rem;
  max-height: 3rem;
  align-self: center;
}

.logos{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

.icons{
  display: flex;
  gap: 10px;
}
.table-icons{
  display: flex;
  flex-direction: column;
  justify-self: center;

}

.rectangle-underline{
  border: none;
  height: 8px;
  background-color: #414170;
  margin-top: 40px;
  width: 95%;
  margin-bottom: 20px;
  width: 60rem;


}

body {
  font-family: Merriweather, serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 5;

  display: flex;
  flex: auto;
  background-color: #000033;
  text-align: center;
  vertical-align: middle;
  height: fit-content;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
}

.navbar * {
  font-family: Merriweather, serif;
  font-size: small;
}

.navbar-links {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: clamp(12px, 2.2vh, 24px);
  padding: 1vw;
  margin: 0px 1vw;
}

.sponsor-button {
  all: unset;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #000033;
  padding: 0.7vw;
  margin-left: 1vw;
  border-radius: 0.5vw;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
}

.sponsor-button:hover {
  transform: scale(1.02);
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* team -------------------------------------------------------- */

.team-section {
  margin: auto;
  width: 80%;
  margin-bottom: 100px;
}

.team-header {
  text-align: center;
  font-weight: 500;
  font-size: clamp(15px, 2vw, 20px);
}

.team-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.25fr));
  gap: 2vw;
  justify-content: center;
}

.full-team-image {
  width: 80vw;
  height: fit-content;
}

.team-member {
  background: white;
  border-radius: 1.2vw;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1.5vw;
}

.team-member img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.team-member img:hover {
  transform: scale(1.04);
  box-shadow: none;
}

.team-info {
  margin-top: 10px;
}

.team-info h3 {
  font-size: clamp(18px, 2.4vw, 24px);
  margin: 5px 0;
}

.team-info p {
  font-size: clamp(15px, 2vw, 20px);
  color: gray;
}

.logo-img {
  height: 8vh;
  padding: 0;
  margin-bottom: -2vh;
}

/* - responsive ------------------------------------------------------------- */

@media (max-width: 1024px) and (min-width: 768px) {
  
  .hamburger {
    padding: 1vw;
    text-decoration: none;
    border: none;
    background: none;
    z-index: 120;
    height: fit-content;
  }
  
  .hamburger-logo {
    height: 6vh;
    border-radius: 4px;
    z-index: 100;
    height: fit-content;
    align-self: center;
  }
  
  .project-date {
    float: right;
    margin-right: 1.6vw;
    font-style: italic;
    font-size: clamp(18px, 3.2vw, 24px);
  }
  .project-team {
    font-size: clamp(18px, 3.2vw, 24px);
    font-weight: bold;
  }
  .project-desc {
    font-size: clamp(14px, 2.8vw, 18px);
    width: 100%;
  }
  .subteam-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .subteam-image-container {
    width: 70%;
  }
  .subteam-text {
    width: 100%;
    padding: 0 5%;
    text-align: center;
  }
  .full-team-image {
    width: 100%;
  }
  .team-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
  }
  .sponsor-package-image {
    width: 100%;
    min-height: 16vh;
    align-self: center;
  }
}


@media (max-width: 768px) {

  .container {
    margin-top: 5vh;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 2vw;
  }

  .hamburger {
    cursor: pointer;
    font-size: 24px;
    top: 1.5vw;
    left: 1.5vw;
    z-index: 120;
    padding: 1vw;
    text-decoration: none;
    border: none;
    background: none;
    margin: 1vw;
    color: #ffffff;
  }

  .team-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.8fr));
  }

  .hamburger-portion {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    top: 0vw;
    height: 6vh;
  }
  
  .hamburger-logo {
    height: 6vh;
    border-radius: 4px;
    z-index: 100;
    align-self: center;
    vertical-align: middle;
  }
  .logo-img {
    display: none;
  }
  .hide-thin {
    display: none;
  }
  .navbar-links {
    flex-direction: column;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: #0d1e44;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 1vh 0;
    z-index: 100;
  }

  .project-inner {
    display: flex;
    flex-direction: column;
  }
  .project-image {
    width: 90%;
  }
  .project-date {
    float: right;
    margin-right: 1.6vw;
    font-style: italic;
    font-size: clamp(18px, 3.2vw, 24px);
  }
  .project-team {
    font-size: clamp(18px, 3.2vw, 24px);
    font-weight: bold;
  }
  .project-desc {
    font-size: clamp(14px, 2.8vw, 18px);
    width: 100%;
  }
  .subteam-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .subteam-image-container {
    width: 90%;
  }
  .subteam-text {
    width: 100%;
    padding: 0 5%;
    text-align: center;
  }
  .full-team-image {
    width: 100%;
  }
  .join-us h2 {
    display: none;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-logo-img {
    width: 70%;
    margin-top: 5%;
  }
  .faq-container {
    padding: 2vh 1vw;
  }
  .sponsor-package-image-link {
    width: 100%;
    min-height: 16vh;
    align-self: center;
  }
}


/* ---------------------------------------------------------------------------- */
