
.header {
    font-weight: 600;
    font-size: clamp(28px, 4vw, 50px);
    font-family: "Merriweather", serif;
    margin: 10% 0;
    text-align: center;

}

@media (max-width: 768px) {
    .header {
        margin-top: 30%;
    }
}