

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}  

@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather/Merriweather-VariableFont_opsz\,wdth\,wght.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-size: clamp(15px, 2vw, 20px);
  line-height: 1.2;
}

