.container h1 {
  font-weight: 800;
  font-size: clamp(30px, 3vw, 35px);
  font-family: 'Merriweather', serif;
  margin-top: 30px;
  margin-left: 8%;
}

.container h2 {
  font-weight: 500;
  text-align: center;
  font-size: clamp(30px, 3vw, 33px);
}

.titlebackground {
  height: 10%;
}

.rectangle_text{
  background-color: #E8EFE9;
  padding: 2.2% 18% 10% 18%;
  text-align: center;
}

.home_title {
  justify-content: center;
  display: flex;
  padding: 10% 0% 1% 0%;
  align-items: center;
  position: relative;
}

.arrows{
  width: 15%;
  height: 15%;
}


.home_logo{
  width: 50%;
  height: auto;
}

.projects{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projectContainer{
  background-color: white;
  width: 100%;
  padding-top: 1px;
  height: 575px;
}

.projectsButtonContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaf{
  position: absolute;
  top: 950px;
  right: 0;
  width: 10%;
  height: auto;
}


.exploreButton {
  background-color: #142942;
  border-radius: 0.75vw;
  padding: 0.75vw 0.75vw;
  height: fit-content;
  display: inline-block;
  transition: all 0.2s;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 110px;
  font-family: 'Merriweather', serif;
  margin: 20px;
}

.exploreButton:hover {
  transform: scale(1.02);
}

@media (min-width: 1780px) {
  .leaf{
    display:none;
  }
}



@media (max-width: 768px) {
  .home_title {
    padding: 30% 0% 2% 0%;
  }

  .home_logo{
    width: 80%;
  }
  .arrows{
  width: 10%;
  height: 10%;
  }

  .titlebackground {
  height: 450px;
}

  .rectangle_text{
  padding: 2.2% 18% 10% 18%;
}

  .leaf{
  top: 1100px;
  }


  .projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectContainer{
  width: 100%;
  padding-top: 1px;
  height: 750px;
}
.exploreButton {
  border-radius: 1.75vw;
  padding: 1.5vw 1.5vw;
  font-size: 15px;
  width: 100px;
}

.container h2{
  font-size: clamp(25px, 3vw, 30px);
}

}