.container h1 {
  font-weight: 800;
  font-size: clamp(20px, 3vw, 28px);
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-top: 30px;
}

.parallax {
  min-height: 630px;

  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  position: relative; /* ensure absolutely positioned children are positioned relative to this container */
}

.home_title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* center horizontally & vertically */
  width: 60%;
  text-align: center;
  color: #ffffff;
  padding: 1rem;
  text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}


.home_title p {
  font-size: clamp(10px, 3vw, 17px);
  font-family: Merriweather, serif;
  margin: 0;
}

.home_logo{
  width: 70%;
  height: auto;
  margin-bottom: -3%;
}

@media (max-width: 768px) {
  .home_title {
    width: 90%;
    padding: 0.5rem;
  }

  .home_logo{
    width: 100%;
  }

  .parallax{
    min-height: 550px;
  }

}