.container {
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.container h1 {
  font-weight: 600;
  font-size: clamp(28px, 3vw, 48px);
  font-family: 'Merriweather', serif;
}

.container h2 {
  font-weight: 500;
  font-size: clamp(20px, 4vw, 40px);
  font-family: 'Merriweather', serif;
}

.container span{
  color: #1a1a90;
}

.logos{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

.icon{
  height: 5vw;
  width: auto;
}

.icons{
  display: flex;
  gap: 10px;
}
.tableIcons{
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.rectangle{
  border: none;
  height: 8px;
  background-color: #414170;
  margin-top: 40px;
  width: 95%;
  margin-bottom: 20px;
}

.logo{
    height: 5vw;
    width: auto;
  }
.joinUs {
  display: flex;
  flex-direction: row;
  padding: 2.5%;
  align-items: center;
  justify-content: center;
}


.joinButton {
  background-color: #000033;
  border-radius: 2vw;
  padding: 1.2vw 1.2vw;
  height: fit-content;
  display: inline-block;
  transition: all 0.2s;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  color: white;
  text-decoration: none;
  font-size: 20px;
}

@media(max-width: 768px){
  .container {
    width: 80%;
    justify-self: center;
    padding: 0;
    margin-top: 30%;
  }

  .icon{
    height: 10vw;
  }

  .logo{
    height: 10vw;
  }

}