.container {
  width: 70%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.container h1 {
  font-weight: 600;
  font-size: clamp(28px, 3vw, 48px);
  font-family: 'Merriweather', serif;
}

.container h2 {
  font-weight: 500;
  font-size: clamp(20px, 4vw, 40px);
  font-family: 'Merriweather', serif;
}

.container span{
  font-weight: 500;
  font-size: clamp(15px, 2vw, 20px);
  color: #1a1a90;
}

.logos{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

.icons{
  display: flex;
  gap: 10px;
}
.tableIcons{
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.rectangle{
  border: none;
  height: 8px;
  background-color: #414170;
  margin-top: 40px;
  width: 95%;
  margin-bottom: 20px;
}

@media(max-width: 768px){
  .container {
    width: 80%;
    padding: 0;
    margin-top: 30%;
  }
}