.header {
    font-weight: 600;
    font-size: clamp(30px, 4vw, 50px);
    font-family: "Merriweather", serif;
    
    text-align: center;
}
.container{
    margin: 100px 0 0 0;
}

.subtitle {
    font-weight: 400;
    font-size: clamp(20px, 4vw, 30px);
    font-family: "Merriweather", serif;
    text-align: center;
}


.subteams {
  display: flex;
  flex-direction: row;
  gap: 4vh;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.rectangle{
  border: none;
  height: 8px;
  background-color: #414170;
  margin-top: 40px;
  width: 90%;
  margin-bottom: 20px;
}